<extend name="Public/base" />

<block name="main">
    <!--日历 start-->
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--日历 end-->
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn href" url="{:U('Coupon/index')}" target-form="ids">返回</button>&nbsp;
                    <form action="{:U('MemberCoupon/index')}" method="post" class="form">
                        <input type="text" name="nickname" value="{$_REQUEST['nickname']}" placeholder="用户昵称" style="width:140px;">
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>用户ID</th>
                            <th>用户昵称</th>
                            <th>满足金额</th>
                            <th>优惠金额</th>
                            <th>开始时间</th>
                            <th>过期时间</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['m_id']}</td>
                                <td>{$row['nickname']}</td>
                                <td>{$row['satisty_price']}</td>
                                <td>{$row['discount_price']}</td>
                                <td>{$row['start_time']|date='Y-m-d',###}</td>
                                <td>{$row['end_time']|date='Y-m-d',###}</td>
                                <td>{$row['create_time']|date='Y-m-d',###}</td>
                                <td>
                                    <eq name="row['status']" value="1">已使用</eq>
                                    <eq name="row['status']" value="0">未使用</eq>
                                </td>
                                <!--<td>-->
                                    <!--<a href="{:U('MemberCoupon/remove',array('model'=>'MemberCoupon','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">-->
                                        <!--<span class="label label-important">删除</span></a>-->
                                <!--</td>-->
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('button.move').click(function(){
                if($(this).next('span').css('display') == 'none') {
                    $(this).next('span').show();
                } else {
                    $(this).next('span').hide();
                }
            })
        })
    </script>
</block>