<extend name="Public/base" />

<block name="main">
    <!--日历 start-->
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--日历 end-->
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <!--<button class="btn btn-success href" url="{:U('ReleaseOrder/add')}" target-form="ids">新增</button>&nbsp;-->
                    <button class="btn btn-danger confirm ajax-post" url="{:U('RewardOrder/delete',array('model'=>'Order','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <button class="btn btn-info lead-btn" target-form="ids">导出Excel</button>&nbsp;
                    <form action="{:U('RewardOrder/index')}" method="post" class="form">
                        <input type="text" name="order_sn" value="{$_REQUEST['order_sn']}" placeholder="订单编号" style="width: 140px;margin-top: -10px;">
                        <input type="text" name="nickname" value="{$_REQUEST['nickname']}" placeholder="用户昵称" style="width: 140px;margin-top: -10px;">
                        <input type="text" name="start_time" value="{$_REQUEST['start_time']}" placeholder="开始时间" style="width: 140px;margin-top: -10px;" class="datetime">
                        <input type="text" name="end_time" value="{$_REQUEST['end_time']}" placeholder="结束时间" style="width: 140px;margin-top: -10px;" class="datetime">
                        <select name="pay_status" style="width: 140px;">
                            <option value="">订单状态</option>
                            <option value="99" <if condition="$_REQUEST['pay_status'] eq 99">selected</if> >未支付</option>
                            <option value="1" <if condition="$_REQUEST['pay_status'] eq 1">selected</if> >已支付</option>
                        </select>
                        <select name="pay_type" style="width: 140px;">
                            <option value="">支付方式</option>
                            <option value="999" <if condition="$_REQUEST['pay_type'] eq 999">selected</if> >未支付</option>
                            <option value="1" <if condition="$_REQUEST['pay_type'] eq 1">selected</if> >支付宝</option>
                            <option value="2" <if condition="$_REQUEST['pay_type'] eq 2">selected</if> >微信</option>
                            <option value="3" <if condition="$_REQUEST['pay_type'] eq 3">selected</if> >银行卡</option>
                            <option value="4" <if condition="$_REQUEST['pay_type'] eq 4">selected</if> >余额</option>
                        </select>

                        <button class="btn btn-inverse" style="margin-top: -10px;">查询</button>
                    </form>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th width="12%">订单编号</th>
                            <th>悬赏金额</th>
                            <th>悬赏天数</th>
                            <th width="12%">用户昵称</th>
                            <th>大师名称</th>
                            <th width="8%">订单状态</th>
                            <th width="8%">支付方式</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['order_sn']}</td>
                                <td>{$row['reward_price']}</td>
                                <td>{$row['reward_days']}</td>
                                <td>{$row['nickname']}</td>
                                <td>{$row['master_nickname']}</td>
                                <td>
                                    <if condition="$row['pay_status'] eq 0">未支付</if>
                                    <if condition="$row['pay_status'] eq 1">已支付</if>
                                </td>
                                <td>
                                    <if condition="$row['pay_type'] eq 0">未支付</if>
                                    <if condition="$row['pay_type'] eq 1">支付宝</if>
                                    <if condition="$row['pay_type'] eq 2">微信</if>
                                    <if condition="$row['pay_type'] eq 3">银行卡</if>
                                    <if condition="$row['pay_type'] eq 4">余额</if>
                                </td>
                                <td>{$row['create_time']|date='Y-m-d H:i',###}</td>
                                <td>
                                    <a href="{:U('RewardOrder/update',array('id'=>$row['id']))}" title="详情" class="tip-bottom">
                                        <span class="label label-success">详情</span></a>&nbsp;
                                    <a href="{:U('RewardOrder/delete',array('model'=>'RewardOrder','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>


                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
    <div class="modal hide fade" id="lead-model">
        <form class="form-horizontal" method="post" action="{:U('Order/derive')}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>导出订单信息</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">开始时间</label>
                    <div class="controls">
                        <input type="text" name="s_time"  placeholder="开始时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">结束时间</label>
                    <div class="controls">
                        <input type="text" name="e_time"  placeholder="结束时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" id="a_hide">关闭</a>
                <button  class="btn btn-primary submit">确认导出</button>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('button.move').click(function(){
                if($(this).next('span').css('display') == 'none') {
                    $(this).next('span').show();
                } else {
                    $(this).next('span').hide();
                }
            })
        })
        $(".lead-btn").click(function(){
            $('#lead-model').modal('show')
        });
        $("#a_hide").click(function(){
            $('#lead-model').modal('hide')
        });

        $('button.btn-inverse').click(function(){
            var start = $('input[name = start_time]').val();
            var end = $('input[name = end_time]').val();
            var starttime = Date.parse(new Date(start));
            var endtime = Date.parse(new Date(end));
            if(endtime < starttime){
                alert('请重新选择时间');
                return false;
            }
        });
    </script>
</block>
