<extend name="Public/base" />

<block name="main">
    <!--日历 start-->
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--日历 end-->
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('Lottery/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Lottery/delete',array('model'=>'Lottery','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <form action="{:U('Lottery/index')}" method="post" class="form">
                        <input type="text" name="lo_name" value="{$_REQUEST['lo_name']}" placeholder="奖品名称" style="width: 140px;">
                        <button class="btn btn-inverse" >查询</button>
                    </form>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>奖品名称</th>
                            <th width="12%">奖品数量</th>
                            <th>所需积分</th>
                            <th width="8%">概率</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['lo_name']}</td>
                                <td>{$row['lo_num']}</td>
                                <td>{$row['lo_intergral']}</td>
                                <td>{$row['lo_percent']}</td>
                                <td>{$row['create_time']|date='Y-m-d H:i',###}</td>
                                <td>
                                    <a href="{:U('Lottery/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <if condition="$row['id'] neq 1">
                                    <a href="{:U('Lottery/delete',array('model'=>'Lottery','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                    </if>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
    <div class="modal hide fade" id="lead-model">
        <form class="form-horizontal" method="post" action="{:U('Order/derive')}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>导出订单信息</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">开始时间</label>
                    <div class="controls">
                        <input type="text" name="s_time"  placeholder="开始时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">结束时间</label>
                    <div class="controls">
                        <input type="text" name="e_time"  placeholder="结束时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" id="a_hide">关闭</a>
                <button  class="btn btn-primary submit">确认导出</button>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('button.move').click(function(){
                if($(this).next('span').css('display') == 'none') {
                    $(this).next('span').show();
                } else {
                    $(this).next('span').hide();
                }
            })
        })
        $(".lead-btn").click(function(){
            $('#lead-model').modal('show')
        });
        $("#a_hide").click(function(){
            $('#lead-model').modal('hide')
        });

        $('button.btn-inverse').click(function(){
            var start = $('input[name = start_time]').val();
            var end = $('input[name = end_time]').val();
            var starttime = Date.parse(new Date(start));
            var endtime = Date.parse(new Date(end));
            if(endtime < starttime){
                alert('请重新选择时间');
                return false;
            }
        });
    </script>
</block>
