<extend name="Public/base" />

<block name="main">
    <!--日历 start-->
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--日历 end-->
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <!--<button class="btn btn-success href" url="{:U('ReleaseOrder/add')}" target-form="ids">新增</button>&nbsp;-->
                    <button class="btn btn-danger confirm ajax-post" url="{:U('SocialApply/delete',array('model'=>'SocialApply','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <!--<button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>-->
                    <if condition="$_POST">
                        <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>
                        <else/>
                        <a href="{:U('Social/index')}" class="tip-bottom"><button class="btn" >返 回</button></a>&nbsp;
                    </if>
                    <!--<button class="btn btn-info lead-btn" target-form="ids">导出Excel</button>&nbsp;-->
                    <form action="{:U('Social/apply',array('id'=>$_GET['id']))}" method="post" class="form">
                        <!--<input type="hidden" name="social_id" value="{$_GET['id']}" placeholder="{$_GET['id']}" style="width: 140px;">-->
                        <input type="text" name="nickname" value="{$_REQUEST['nickname']}" placeholder="大师名称" style="width: 140px;margin-top: -10px;">
                        <!--<input type="text" name="delivery_sn" value="{$_REQUEST['delivery_sn']}" placeholder="快递单号" style="width: 140px;">-->
                        <input type="text" name="start_time" value="{$_REQUEST['start_time']}" placeholder="开始时间" style="width: 140px;margin-top: -10px;" class="datetime">
                        <input type="text" name="end_time" value="{$_REQUEST['end_time']}" placeholder="结束时间" style="width: 140px;margin-top: -10px;" class="datetime">

                        <select name="position" style="width: 140px;">
                            <option value="">职位</option>
                            <option value="1" <if condition="$_REQUEST['position'] eq 1">selected</if> >协会会长</option>
                            <option value="2" <if condition="$_REQUEST['position'] eq 2">selected</if> >协会理事</option>
                            <option value="3" <if condition="$_REQUEST['position'] eq 3">selected</if> >协会成员</option>
                            <option value="999" <if condition="$_REQUEST['position'] eq 999">selected</if> >无职位</option>
                        </select>
                        <select name="apply_status" style="width: 140px;">
                            <option value="">状态</option>
                            <option value="1" <if condition="$_REQUEST['apply_status'] eq 1">selected</if> >已通过</option>
                            <option value="2" <if condition="$_REQUEST['apply_status'] eq 2">selected</if> >已拒绝</option>
                            <option value="999" <if condition="$_REQUEST['apply_status'] eq 999">selected</if> >申请中</option>
                        </select>
                        <button class="btn btn-inverse" style="margin-top: -10px;">查询</button>
                    </form>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>申请协会名称</th>
                            <th>大师ID</th>
                            <th width="12%">申请大师名称</th>
                            <th width="8%">所属职位</th>
                            <th>申请时间</th>
                            <th>申请人类型</th>
                            <th width="8%">申请状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['social_name']}</td>
                                <td>{$row['master_id']}</td>
                                <td>{$row['master_nickname']}</td>
                                <td>
                                    <if condition="$row['position'] eq 1">协会会长</if>
                                    <if condition="$row['position'] eq 2">协会理事</if>
                                    <if condition="$row['position'] eq 3">协会成员</if>
                                </td>
                                <td>{$row['create_time']|date='Y-m-d H:i',###}</td>
                                <td>
                                    <if condition="$row['type'] eq 1">创建者</if>
                                    <if condition="$row['type'] eq 2">加入者</if>
                                </td>
                                <td>
                                    <if condition="$row['apply_status'] eq 0">申请中</if>
                                    <if condition="$row['apply_status'] eq 1">已通过</if>
                                    <if condition="$row['apply_status'] eq 2">已拒绝</if>
                                </td>
                                <td>
                                    <a href="{:U('SocialApply/update',array('id'=>$row['id']))}" title="详情" class="tip-bottom">
                                        <span class="label label-success">详情</span></a>&nbsp;
                                    <!--<if condition="$row['status'] eq 0">-->
                                        <!--<a href="{:U('Social/delete',array('model'=>'Social','ids'=>$row['id'],'status'=>1))}" title="启用" class="tip-bottom confirm ajax-get">-->
                                            <!--<span class="label label-info">启用</span></a>&nbsp;-->
                                        <!--<else/>-->
                                        <!--<a href="{:U('Social/delete',array('model'=>'Social','ids'=>$row['id'],'status'=>0))}" title="禁用" class="tip-bottom confirm ajax-get">-->
                                            <!--<span class="label  label-inverse">禁用</span></a>&nbsp;-->
                                    <!--</if>-->
                                    <a href="{:U('SocialApply/delete',array('model'=>'SocialApply','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                    <if condition="$row['apply_status'] eq 0">
                                        <a href="{:U('Social/mverify',array('id'=>$row['id']))}" title="验证" class="tip-bottom">
                                            <span class="label label-warning">验证</span></a>
                                        <elseif condition="$row['apply_status'] eq 1"/>
                                        <a href="{:U('Social/mverify',array('id'=>$row['id']))}" title="验证信息" class="tip-bottom">
                                            <span class="label label-info">验证信息</span></a>
                                        <else/>
                                        <a title="已拒绝" class="tip-bottom" style="cursor: pointer;">
                                            <span class="label label-inverse">已拒绝</span></a>
                                    </if>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
    <div class="modal hide fade" id="lead-model">
        <form class="form-horizontal" method="post" action="{:U('Order/derive')}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>导出申请信息</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">开始时间</label>
                    <div class="controls">
                        <input type="text" name="s_time"  placeholder="开始时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">结束时间</label>
                    <div class="controls">
                        <input type="text" name="e_time"  placeholder="结束时间" class="datetime" autocomplete="off" style="width: 200px;">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" id="a_hide">关闭</a>
                <button  class="btn btn-primary submit">确认导出</button>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('button.move').click(function(){
                if($(this).next('span').css('display') == 'none') {
                    $(this).next('span').show();
                } else {
                    $(this).next('span').hide();
                }
            })
        })
        $(".lead-btn").click(function(){
            $('#lead-model').modal('show')
        });
        $("#a_hide").click(function(){
            $('#lead-model').modal('hide')
        });

        $('button.btn-inverse').click(function(){
            var start = $('input[name = start_time]').val();
            var end = $('input[name = end_time]').val();
            var starttime = Date.parse(new Date(start));
            var endtime = Date.parse(new Date(end));
            if(endtime < starttime){
                alert('请重新选择时间');
                return false;
            }
        });
    </script>
</block>
