.augur-head span a{
	color:#777;
	font-size:1.3rem;
	line-height:4.0625rem;
	-webkit-user-select: none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select: none;
	user-select:none;
	-webkit-tap-highlight-color:transparent;
	position:relative;
	height:4.0625rem;
}
.augur-head span a.on{
	color:#000;
}
.augur-head span a.on:after{
	content:"";
	position:absolute;
	bottom:0;
	left:-0.40625rem;
	right:-0.40625rem;
	height:0.27375rem;
	background:#F23030;
}
.augur-head{
	height:4.0625rem;
	background:#fff;
}

.augur-bg1{
	background:url("../img/bg1.png")0 0 no-repeat;
	background-size:100% 100%;
	width:100%;
	padding:2.4375rem 1.625rem;
}
.augur-bg1-img1{
	width:6.5rem;
	height:6.5rem;
	border-radius:100%;
}
.augur-label a{
	border:1px solid #fff;
	padding:0 0.8125rem;
	border-radius:1.625rem;
	font-size:0.975rem;
	line-height:1.625rem;
	color:#fff;
}
.bar-red{
	width:0.65rem;
	height:100%;
	background:#F23030;
}
.cir-red{
	width:10px;
	height:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin-top:1.7875rem;
	background:#F23030;
	box-sizing:border-box;
	overflow:hidden;
	display:none;
}
.augur-item.on .cir-red{
	display:inline-block;
}
.augur-intro{
	letter-spacing:1px;
}
.augur-item1{
	padding:0.8125rem;
	height:9.75rem;
	border:1px solid #E9E9E9;
	margin-top:0.8125rem;
}
.augur-item1:first-child{
	margin-top:0;
}
.augur-item1 p{
	line-height:1.625rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;/*行数*/
}
.augur-item2{
	padding:0.8125rem 0.40625rem;
	border:1px solid #E9E9E9;
	margin-top:0.8125rem;
}
.augur-item2:first-child{
	margin-top:0;
}
.augur-item2 p{
	line-height:1.625rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;/*行数*/
}
.augur-cont1{
	padding:0 0.8125rem 0.8125rem 0.8125rem;
}
.augur-bom img{
	width:1.625rem;
	height:1.625rem;
	margin-top:0.4875rem;
}

.augur-bom a p{
	color:#000;
}
.goods-label{
	padding:0 0.27375rem;
	font-size:0.975rem;
	color:#F23030;
	border:1px solid #F23030;
	border-radius:1.21875rem;
	line-height:1.4625rem;
}
.goods-label1{
	border: 1px solid #ddd;
    padding: 0 0.40625rem;
    border-radius: 1.625rem;
    font-size: 0.975rem;
    line-height: 1.4625rem;
    color: #999;
}
.goods-img img{
	width:100%;
	height:auto;
	margin-bottom:0.8125rem;
}
@media only screen and (min-width: 600px){
	.cir-red{
		transform:scale(1.625);
	}
}