<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5>新闻类别</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('NewsType/update')}" id="form">
                        <input type="hidden" name="model" value="NewsType">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">新闻类别</label>
                            <div class="controls">
                                <input type="text" name="type_name" value="{$row['type_name']}">
                                <span class="help-block">30个字符以内</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">排列序号</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']}">
                                <span class="help-block">请填写数字</span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">发 布</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>